fastapi==0.115.6
uvicorn[standard]==0.34.0
moviepy==1.0.3
edge-tts==6.1.11
Pillow==10.4.0
numpy==1.26.4
aiohttp==3.11.11
requests==2.32.3
wikipedia==1.4.0
nltk==3.9.1
soundfile==0.12.1
python-multipart==0.0.20
imageio==2.35.1
imageio-ffmpeg==0.5.1
